@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-elevate;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full
    bg-active-light transition-colors hover:bg-active;
}

input {
  @apply border-0 bg-transparent shadow-none transition-all focus:bg-active-light;
  outline: none !important;
}

body.dark-theme {
  --primary: rgb(161, 62, 41);
  --surface: rgb(41, 50, 62);
  --font-color-secondary: rgb(255, 255, 255);
  --font-color: rgb(238, 238, 238);
  --active: rgba(255, 255, 255, 0.1);
  --active-light: rgba(255, 255, 255, 0.04);
  --elevate-1: rgb(35, 43, 53);
  --elevate-2: rgb(30, 37, 45);
}
