@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-elevate;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-active-light transition-colors hover:bg-active;
}

input {
  @apply border-0 bg-transparent shadow-none transition-all focus:bg-active-light;
  outline: none !important;
}

body.dark-theme {
  --primary: #a13e29;
  --surface: #29323e;
  --font-color-secondary: #ffffff;
  --font-color: #eeeeee;
  --active: #3f4752;
  --active-light: #ffffff0a;
  --elevate-1: #232b35;
  --elevate-2: #1e252d;
}
