.ripple-wrapper {
  position: relative;

  .ripple-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    .ripple-span {
      transform: scale(0);
      opacity: 1;
      border-radius: 100%;
      position: absolute;
      animation: ripple;
    }

    .default-ripple-color {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }

  @keyframes ripple {
    to {
      opacity: 0;
      transform: scale(2);
    }
  }
}
